.container {
  max-width: 36rem;
  height: 34rem;
  padding: 1%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  background-color: #d7e3fc;
  margin-bottom: 4%;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  block-size: fit-content;
  overflow: hidden;
}

.containerPage {
  width: 100%;
  height: 43.85rem;
  overflow: hidden;
  background-color: #4d194d;
  height: 100%;
  overflow: auto;
  background: #4d194d;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
